.sectionHeader {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.105) 10%,
      rgba(0, 0, 0, 0.754)
    ),
    url(../assets/miFoto.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.social-icons{
  flex-direction: column
}

@media (max-width: 768px) {
  .sectionHeader {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.105) 10%,
      rgba(0, 0, 0, 0.754)
   
    );
  }
  .containerHeader{
  flex-direction: column-reverse;
  }
  .social-icons{
    flex-direction: row;
  }
}
